<div class="container">
  <div class="settings">
    <div class="panel">
      <label for="load-file" matTooltip="Add Model"
        ><i class="fa fa-plus-square" aria-hidden="true"></i
      ></label>
      <input
        type="file"
        (change)="loadFile($event)"
        accept=".fbx"
        id="load-file"
        style="display: none"
      />
      <div class="icons" *ngIf="selectedObject != null">
        <i
          class="fa fa-trash"
          aria-hidden="true"
          (click)="removeObj(selectedObject)"
          matTooltip="Remove Model"
        ></i>
        <i
          class="fa fa-repeat"
          aria-hidden="true"
          (click)="rotateX(selectedObject)"
          matTooltip="Rotate Model on X Axis"
        ></i>
        <i
          class="fa fa-undo"
          aria-hidden="true"
          (click)="rotateY(selectedObject)"
          matTooltip="Rotate Model on Y Axis"
        ></i>
        <i
          class="fa fa-plus"
          aria-hidden="true"
          (click)="scaleUp(selectedObject)"
          matTooltip="Scale Up the Model"
        ></i>
        <i
          class="fa fa-minus"
          aria-hidden="true"
          (click)="scaleDown(selectedObject)"
          matTooltip="Scale Down the Model"
        ></i>
      </div>
      <p>Added Models</p>
      <div
        *ngFor="let object of objects"
        [className]="selectedObject == object ? ' name selected' : 'name'"
        (click)="selectObject(object)"
      >
        {{ object.uuid }}
      </div>
    </div>
  </div>
  <div class="content" #content [cdkContextMenuTriggerFor]="menu"></div>
</div>
<ng-template #menu>
  <div class="menu" cdkMenu>
    <input type="text" placeholder="name your label" cdkMenuItem #label />
    <button cdkMenuItem (click)="addLabel(label.value)">
      Add Label
    </button>
  </div>
</ng-template>
